h1 {
    color: red;
   font-size: 150px;
}

 img:hover{
    background-color: gold;
} 
.meat {
    width: 180px;
    background-color: green;
}
.Broccoli {
    background-color: red;
}
.circular {
    border-radius: 100%;
}